.project-link a:hover {
  text-decoration: none;
}
.harmonics #harmonics,
.stmonday #stmonday,
.floodwatch #floodwatch,
.paperbird #paperbird,
.opentriviata #opentriviata,
.primitive #primitive {
  opacity: 0.3;
  pointer-events: none;
}