.navbar-brand img {
    background-color: var(--col-primary-mid);
    border-radius: 15px;
    margin-top: -0.28rem;
    width: 30px;
}

.avatar img {
    border-radius: 120px;
    border: solid 7px var(--col-primary-mid);
    height: 240px;
    width: 240px;
}

.navbar-brand img {
    background-color: var(--col-primary-mid);
    border-radius: 15px;
    margin-top: -0.28rem;
    width: 30px;
}