#work-intro, #info-intro {
    color: var(--col-primary-light);
}

#skills li {
background-color: transparent;
border-color: var(--col-primary-mid);
}

#about li {
    list-style: disc;
}

#about li::marker {
    color: var(--col-primary-light);
}

#status {
    font-size: 1.1rem;
}