#testimonials blockquote {
    color: var(--col-primary-mid);
    font-size: 1.3rem;
    margin-top: -1.2rem;
}

#legal {
    font-size: 0.7rem;
}

.page-footer ul {
    list-style: none;
}

.page-footer li {
    padding: 0.5rem 0;
}

.download {
    font-size: 1rem;
}